In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\ai nexut it\anaconda3\lib\site-packages (1.1.1)

In [2]:
import pymysql

In [4]:
conn =  pymysql.connect(host='localhost',port=3306,user='root',password='root',database='offline6')

In [5]:
cur = conn.cursor()

In [7]:
#cur.execute("create table emp(id int,name varchar(20),city varchar(20))")

In [8]:
q = """
insert into emp values(101,'keshav','pune')
"""

In [11]:
cur.execute(q)
conn.commit()

In [15]:
import csv
conn =  pymysql.connect(host='localhost',port=3306,user='root',password='root',database='offline6')
cur = conn.cursor()
with open("sample_100_records.csv") as fp:
    r =  csv.DictReader(fp)
    for row in r:
        q = "insert into emp_new values({},'{}',{},'{}')".format(row['id'],row['name'],row['sal'],row['city'])
        cur.execute(q)
        conn.commit()
print("Data Successfully loaded")

Data Successfully loaded